# Dependencias
node_modules/

# Plataformas nativas generadas por Capacitor
android/
ios/

# Builds
dist/
build/
*.apk
*.aab
*.ipa

# Capacitor
.capacitor/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
